<!DOCTYPE html>
<html>
<head>
    <title>Verification Email</title>
</head>
<body>
    <p>Dear Sir/Madam,</p>

    <p>ATTN : Please do not reply to this email. This mailbox is not monitored, and you will not receive a response.</p>

    <p>To verify your email and activate your account, click on the link below:</p>

    <a href="{{ verification_link }}">Verify Your Email</a>

    <p>If you have any queries, please contact us at,</p>

    <p>Livefit Store, Kathmandu, Nepal.</p>
    <p>Phone:</p>
    <p>Email Id:</p>
    <p>Portfolio:</p>

    <p>Warm Regards, Livefit Store</p>
</body>
</html>
