{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block additional_head %}
<link rel="stylesheet" href="{% static 'app/css/productdetail.css' %}">
<script src="{% static 'app/js/product.js' %}"></script>

{% endblock %}
{% block main-content %}
<div class="container" style="padding-top: 50px;">
    <div>
        <div>
            <div>
                <img src="{{product.product_image.url}}" alt="">
            </div>
        </div>
        <div>
            <h4><a href="{% url 'home' %}">Home</a> / <span>{{product.title}}</span></h4>
            <hr>
            <br>
            <h4> <span>रु. {{product.selling_price}}</span></h4> <br>

            
            <span class="updated-quantity" style="display: none;"></span>
            

            {% if request.user.is_authenticated %}
                {% if item_already_in_cart %}
                <a href="{% url 'showcart' %}">Go To Cart</a>
                {% else %}
                <form action="/add-to-cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
                    <button type="submit">Add To Cart</button>
                </form>
                {% endif %}
            {% endif %}
            {% if not request.user.is_authenticated %}
                <form action="/add-to-cart">
                    <input type="hidden" name="prod_id" value="{{product.id}}" id="prod_id">
                    <button type="submit">Add To Cart</button>
                </form>
            {% endif %}

            <h5>Available Offers</h5>
            <ul>
                <li>Bank Offer 5% Unlimited Cashback on NIC Asia Bank Credit</li>
                <li>Special Price Get extra रु3000 off (price inclusive of discount)</li>
                <li>we are offering good price.</li>
                <li>get special gym offer </li>
            </ul>
        </div>
        <div>
            <p>{{product.description|safe|escape }}</p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'app/js/cart.js' %}"></script>
<script>
    function updateCartQuantity(productId, action, csrfToken) {
        $.ajax({
          url: '/update-cart/',  // Use a single URL for both incrementing and decrementing
          method: 'POST',  // Use POST method for all cart updates
          headers: {
            'X-CSRFToken': csrfToken  // Include the CSRF token in the headers
          },
          data: {
            prod_id: productId,
            action: action
          },
          dataType: 'json',
          success: function (data) {
            $('#quantity-' + productId).text(data.quantity);
            $('#amount').text(data.amount);
            $('#totalamount').text(data.totalamount);
          }
        });
      }
</script>
{% endblock main-content %}
